In [ ]:
import sqlite3

In [ ]:
# Encuentre los nombres y salarios de todos los trabajadores que ganan más de $50.000 y no son pilotos.

connection = sqlite3.connect('example.db') 
cursor = connection.cursor()
cursor.execute('SELECT E.ename \
                FROM Employees E \
                WHERE E.salary > 50000 \
                AND NOT EXISTS (SELECT * \
                                FROM Aircraft A, Certified C \
                                WHERE E.eid = C.eid AND A.aid = C.aid)')
for r in cursor:
    print(r[0])
connection.close()

In [ ]:
# Encuentre los nombres de los pilotos que están certificados para volar en al menos tres aviones con autonomía de más de 1000 millas

connection = sqlite3.connect('example.db') 
cursor = connection.cursor()
cursor.execute('SELECT E.ename \
                FROM Employees E, Certified C, Aircraft A \
                WHERE C.aid = A.aid AND E.eid = C.eid \
                GROUP BY E.eid, E.ename \
                HAVING A.cruisingrange > 1000 AND COUNT(*) > 3')
for r in cursor:
    print(r[0])
connection.close()

In [ ]:
# Encuentre el origen y destino de las rutas que pueden ser voladas por todos los pilotos que ganan más de $100.000

connection = sqlite3.connect('example.db') 
cursor = connection.cursor()
cursor.execute('SELECT DISTINCT F.origin, F. destination \
                FROM Flights F \
                WHERE (SELECT COUNT(*) \
                       FROM Employees E \
                       WHERE E.salary > 100000 \
                       AND EXISTS (SELECT * \
                                   FROM Aircraft A, Certified C \
                                   WHERE A.cruisingrange > F.distance \
                                   AND E.eid = C.eid AND A.aid = C.aid)) = (SELECT COUNT(*) \
                                                                            FROM Employees E \
                                                                            WHERE E.salary > 100000 \
                                                                            AND EXISTS (SELECT * \
                                                                                        FROM Aircraft A, Certified C \
                                                                                        WHERE E.eid = C.eid AND A.aid = C.aid))')
for r in cursor:
    print(r[0],r[1])
connection.close()